* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  background-color: #383838;
}
a {
  text-decoration: none;
  color: #000000;
}
.content {
  min-height: 100vh;
}

.search-bar {
  display: block;
  padding: 1.5rem;
  margin: 5rem auto;
  width: 90%;
  max-width: 400px;
  height: 50px;
  font-size: 1.5rem;
  background-color: #e7e7e7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  border: none;
  outline: none;
  border-radius: 10px;
  &:focus {
    box-shadow: 0 0 50px rgba(156, 115, 13, 0.3);
  }
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 1rem 5% 1rem 5%;
  margin: 0 auto;
  width: 100%;
}
.no-results h2 {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}
.cocktail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #efbb38;
  color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.05s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  }
  &:active {
    filter: brightness(120%);
  }
}

.cocktail-info {
  padding: 1.5rem;
}

.cocktail-name {
  font-size: 2rem;
  letter-spacing: 0.2rem; /* Adjust this value as needed */
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.cocktail-card img {
  object-fit: cover;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cocktail-card .cocktail-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #414141;
}

.footer {
  margin-top: 5rem;
  padding: 2rem 5% 2rem 5%;
  background-color: rgb(239, 187, 56);
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer .about {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  flex: 1 1 50%;
}

.footer .about a {
  color: #000000;
  text-decoration: none;
  &:hover {
    color: #ffffff;
  }
}

.footer .contact {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.footer .contact a {
  color: #000000;
  text-decoration: none;
  &:hover {
    color: #ffffff;
  }
}

.footer .contact img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  &:hover {
    transform: scale(1.1);
    filter: invert(1) brightness(1.8);
  }
}

.cocktail-detail-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
}

.cocktail-detail {
  display: flex;
  flex-wrap: wrap;
  background-color: #efbb38;
  border-radius: 10px;
  margin-top: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cocktail-detail > img {
  width: 100%;
  min-width: 300px;
  flex: 1 1 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.cocktail-detail-info {
  padding: 2rem;
  flex: 1 0 50%;
}

.cocktail-detail-name {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.cocktail-detail-ingredients {
  color: #414141;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.cocktail-detail-instructions {
  color: #414141;
  font-size: 1.75rem;
}

.back-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #a4a4a4;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #efbb38;
  }
  &:active {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 749px) {
  .cocktail-detail > img {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
